body.clickable {
    cursor:pointer;
    color:#234da7;
}
input[type=text] {
    padding: 4px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #ddd;
    -moz-box-shadow: 2px 2px 3px #ddd;
    outline: 0;
    -webkit-appearance: textfield;
}

#contentAreaDiv div
{
  border-bottom: 0px solid red !important;
}

body
{
  background: #263238 !important;
  color: #263238 !important;
}




a, a[class] {
  color: #9CF !important;
}

a:hover {
  color: #39F !important;
}

li {
  color: #8BF !important;
}

tr {
  color: #F00 !important;
}

cite {
  color: #268 !important;
}

input {
  color: #5BF !important;
}

em {
  color: #DEF !important;
}

ul {
  color: #F00 !important;
}

nobr {
  color: #F00 !important;
}

div {
  color: #BDF !important;
}

strong {
  color: #9CC !important;
}

s {
  color: #F00 !important;
}

h1 {
  color: #ABC !important;
}

h2 {
  color: #DEF !important;
}

h3 {
  color: #CFF !important;
}

* {
  color: #7CF !important;
}

b {
  color: #7AF !important;
}



:link, :visited, a, h1, h2, h3, h4, h5, h6, p, img, video, div, span, img~*, img *,
video *, video~*>*, div[style*="text-align:"] *, button, button *, div[style*="text-align:"],
[style*="background-image:"]~*, div[style*="background-image:"] *, [style*=".gif"], [style*=".jpg"], [style*=".png"] {
  background-color: transparent !important;
}

