* {
    font-size:15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:7px;
    margin:5px;
    margin-bottom:0px;
    border-radius:10px;
    background: rgba(50,50,50,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
.modules-center {
    padding:7px;
    margin:5px;
    margin-bottom:0px;
    border-radius:10px;
    background: rgba(50,50,50,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
.modules-right {
    padding:7px;
    margin:5px;
    margin-bottom:0px;
    border-radius:10px;
    background: rgba(50,50,50,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
tooltip {
    background:rgb(50,50,50)
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:rgba(150,150,150,.5);
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
}
#clock{
    padding: 0px 5px;
    transition: all .3s ease;
}
#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease;
}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: transparent;
    transition: all .5s ease;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
}
#workspaces button:hover {
    transition: all .5s ease;
    color:transparent;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .6);
}
#workspaces button.active {
    color: white;
    border: none;
    transition: all .5s ease;
}
#workspaces button.empty {
    color: transparent;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: transparent;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}
#workspaces button.empty.active {
    color: white;
    border: none;
    transition: all .5s ease;
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;

}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:rgba(0,0,0,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
